
@{
    ViewBag.Title = "Error";
}

<div class="error-container">
    <h1>Ops...</h1>
    <br/>

    <h6>
        Någonting gick fel, vi ber om ursäkt för detta och ber dig försöka igen. Om felet kvarstår, vänligen hör av dig till oss!
    </h6>
    <br/>
    <br/>
    <a href="/">Till startsidan</a>





</div>