@{
    ViewBag.Title = "L-EVENT GROUP AB";
}



    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:50%; width:100%">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://i.pinimg.com/originals/da/3b/fa/da3bfaece1457bd64353a2b0c460419b.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Tält</h3>
                    <p>Tält 5x6m</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://weatherport.com/wp-content/uploads/2014/11/Summer-Wedding-Outdoors-Meetings-e1418845652639.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Tält</h3>
                    <p>Tält 5x6m</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://www.serendipityeventrental.com/wp-content/uploads/2016/02/Decagonal-Tent.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Tält</h3>
                    <p>Tält 5x6m</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Bakåt</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Framåt</span>
        </a>
    </div>
    <br />
    <div>
        <div class="col-md-12" style="text-align:center;">
            <h2>Boka direkt</h2>
            <p>
                Nu kan du skicka bokningsförfrågan direkt från hemsidan. Följ stegen och klicka i de produkter du önskar att boka, sedan skickas din bokningsförfrågan till oss så att vi kan bekräfta den.
            </p>
            <p><a href="@Url.Action("Index", "Boka")" class="btn btn-success btn-group-lg" style="font-size:30px;">Till bokning &raquo;</a></p>
        </div>

    </div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>