
@{
    ViewBag.Title = "Login";
}

<h1 style="text-align:center; margin-top:2%;">Admin</h1>
<div class="login-container">
    @using (Html.BeginForm())
    {

        <div class="login-form-container">
            <div class="form-group" id="username-container">
                <label>Användarnamn</label>
                <input type="text" class="form-control" name="username" maxlength="15" id="username">
                <small style="color:red">@TempData["felinlogg"]</small>
            </div>

            <div class="form-group" id="password-container">
                <label>Lösenord</label>
                <input type="password" class="form-control" name="password" maxlength="15" id="password">
                <small style="color:red">@TempData["felinlogg"]</small>
            </div>
        </div>
        <div class="slutfor-button-login">
            <input type="submit" class="btn btn-success btn-lg" id="login" value="Logga in">
        </div>
    }
    </div>


