@model LarnerhemsEvent.Models.package
@{
    ViewBag.Title = "Redigera";
}
<h1 style="text-align:center;"> <a href="/Admin/Index">Adminpanel - startsida</a></h1>

<h2 style="text-align:center;"> <a href="/Admin/Paket">Tillbaka till alla paket</a></h2>
<div class="admin-container">

    <h1>@Html.DisplayFor(Model => Model.packageID)</h1>
    <h1>@Html.DisplayFor(Model => Model.name)</h1>

</div>


