
body {
    
}

*{font-family:Calibri !important;}
p{font-family:Calibri;}
h1{font-family:Calibri;}
h2{font-family:Calibri;}
h3{font-family:Calibri;}
h4{font-family:Calibri;}
h5{font-family:Calibri;}
h6{font-family:Calibri;}
a{font-family:Calibri;}
button{font-family:Calibri;}

#logotypLevent {
    max-width : 300px;
    max-height: 120px;
    width:auto;
    height:auto;
}
.indexText {
    text-align: center;
    color: red;
    font-family: Calibri;
}
.img-section-index{
    height: 160px;
    width: 160px;

}
.bander-index {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    /*border: 2px solid lightgrey;*/
    display:inline-block;
    text-align:center;
}
.bander-index-item{
    text-align:center;
    width:200px;
    margin-top:15px;
    float:left;
    margin-left:11%;

}

/*Footer*/

footer 
{
    width:100%;
    height:100%;
    
    
   
}
.footer-bander 
{
   
     
}
.footer-container {
    width: 60%;
   
}

.footer-item 
{
   
   width:50%;
   display:inline-block;
   margin-right: 1%;
   float:left;
}
.footer-item img {
    margin-right: 20px;
}
.social-container {
    margin-right: 30%;
    margin-top:2%;
    text-align:center;
}   
.social-container a :hover{
    opacity: 0.5;
}
    

footer h6 {
    font-family: Calibri;
}

.social-img img 
{
    height:70px; 
    width: 70px;
        
}


#footerText
{
  float: right;
}
.container-bander{
    display:inline-block;
    background-color:lightgrey;
    height: 500px;
    width:100%;
    margin:10px;


}
.info-bander {
    padding:10%; 
    width: 100%;
    margin:auto;
}


  /*om oss*/

  .omoss-text-container
  {
      padding-top:5%; 
      text-align: center;
  }


.partner-container {
    padding-top: 10%;
    text-align: center;
}

.partner-item
{
  display: inline-block; 
  padding: 1% 2%; 
  text-align:center;
}
.partner-item img 
{
    max-height:200px; 
    max-width: 230px; 
    height:auto;
    width:auto;
   
    
}
.partner-item a :hover {
        opacity: 0.5;
}


/* Style tab links */
.tablink {
    background-color:#ebd67b;

    color: Black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 20px;
    width: 25%;
    border: solid 1px white;
    
}


    .tablink:hover {
        text-decoration:underline;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent-container {
    height: 100%;
    border: solid 2px lightgrey;
}
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align:center;
    max-width:100%;
    width:auto;
    
    
}


#Om-oss {
    background-color: white;
}

#Bildgalleri {
    background-color: white;
}

#Kundcitat {
    background-color: white;
}

#Meriter {
    background-color: white;
}
.effectfront {
    border: none;
    margin: 0 auto;
}

    .effectfront:hover {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
.gallery-item {
    display: inline-block;
    padding: 1% 2%;
}
    .gallery-item img {
        height: 300px;
        width: 400px;
        
    }
.social-media-gallery{


}
.social-media-gallery a :hover{
        opacity: 0.5;
}

@media only screen and (max-width: 580px) {
    .tablink {
        width: 100%;
    }
    #logotypLevent {
        width: 100%;
        height: 100%;
    }
    h1{
       
        font-size:28px;
    }
    .gallery-item img {
        height: 260px;
        width: 195px;
    }
}

/*Boka vy*/

.tablinkBoka {
    /*background-color: #ebd67b;*/
    background-color:#ebebeb;
    color: Black;
    float:left;
    border: none;
    outline: none;
    
    padding: 10px 12px;
    font-size: 20px;
    width: 16.66%;
    border: solid 1px white;
  
}
.btn-bar-boka {
    height: 15px;
    width: 16.6%;
    max-width: 100%;
    background-color: #02B875;
}


    .tablinkBoka:hover {
    }
.tabcontent-containerBoka {
    height: 100%;
    border: solid 2px lightgrey;
}

.tabcontentBoka {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align: center;
    max-width: 100%;
    width: auto;
}


#steg1 {
    background-color: white;
}

#steg2 {
    background-color: white;
}

#steg3 {
    background-color: white;
}

#steg4 {
    background-color: white;
}
#steg5 {
    background-color: white;
}
#steg6 {
    background-color: white;
}

.boka-products-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    
}
.boka-product {
    /*width: 29%;*/
    height: 150%;
    /*display:inline-block;*/
    width:auto;
    float:left;
    text-align: center;
    margin:2% 6%;
}
#boka-product-info-item {
    
    visibility: hidden;
    display:none;
}



.boka-product p{
    font-size: 80%;
}

.boka-product ul{
    
    text-align:left;
    margin-bottom:80px;
}
.boka-product-ul-container{
    display:none;
    margin-top:5%;
}


.boka-product-info{
    font-weight:bold;
}

.boka-product-button-container {
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
    
   
}
.boka-product-button-container button{
    width:100%;

}
.boka-product img{
    max-height:160px;
    min-width:220px;
    height:auto;
    width:auto;


}
.product-price{
    color: red;
    font-weight: bold;
    font-size:30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 280px;
    position: absolute;
    left: -105px;
    background-color: #f9f9f9;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    margin-bottom: 0;
    z-index: 1;
}
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: inline-block;
  
    float:left;

}
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown-content li {
    
    padding: 10px 10px;
    
    
}