body {
}

*{font-family:Calibri !important;}
p{font-family:Calibri;}
a{font-family:Calibri;}
button{font-family:Calibri;}

.indexText {
    text-align: center;
    color: red;
    font-family:Calibri;
}
.img-section-index{
    height: 160px;
    width: 160px;

}
.bander-index {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    /*border: 2px solid lightgrey;*/
    display:inline-block;
    text-align:center;
}
.bander-index-item{
    text-align:center;
    width:200px;
    margin-top:15px;
    float:left;
    margin-left:11%;

}
footer 
{
    width:100%;
    height:100%;
    
    
   
}
.footer-bander 
{
   
     
}
.footer-container {
    width: 60%;
   
}

.footer-item 
{
   
   width:50%;
   display:inline-block;
   margin-right: 1%;
   float:left;
}
.footer-item img {
    margin-right: 20px;
}
.social-container {
    margin-right: 30%;
    margin-top:2%;
    text-align:center;
}   
.social-container a :hover{
    opacity: 0.5;
}
    

footer h6 {
    font-family: Calibri;
}

    .social-img img 
    {
        height:70px; 
        width: 70px;
        
    }


#footerText
{
  float: right;
}
.container-bander{
    display:inline-block;
    background-color:lightgrey;
    height: 500px;
    width:100%;
    margin:10px;


}
.info-bander {
    padding:10%; 
    width: 100%;
    margin:auto;
}
