
@{
    ViewBag.Title = "Boka";
}

<br />
<div id="bar-boka" class="btn-bar-boka"></div>

<button class="tablinkBoka" onclick="openPage('steg1', this, 'white')" id="defaultOpen"><b>Steg 1.</b><br /> Välj tältpaket</button>
<button class="tablinkBoka" onclick="openPage('steg2', this, 'white')"><b>Steg 2.</b><br /> Välj Golvpaket</button>
<button class="tablinkBoka" onclick="openPage('steg3', this, 'white')"><b>Steg 3.</b><br /> Välj Ljudpaket</button>
<button class="tablinkBoka" onclick="openPage('steg4', this, 'white')"><b>Steg 4.</b><br /> Välj Ljuspaket</button>
<button class="tablinkBoka" onclick="openPage('steg5', this, 'white')"><b>Steg 5.</b><br /> Välj Tillbehör</button>
<button class="tablinkBoka" onclick="openPage('steg6', this, 'white')"><b>Steg 6.</b><br /> Slutför</button>
<br />

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>


<div class="tabcontent-containerBoka">


    <div id="steg1" class="tabcontentBoka">
        <h1>Tält</h1>
        <div class="boka-products-container">
            <div class="boka-product">
                <img src="~/Content/bilder/Boka/LITETPAKETTÄLT.jpg" />
                <h6>Tält litet</h6>
                <p>detta tält är litet</p>
                <button onclick="moveForw1()"class="btn-success btn-lg">Välj</button>
            </div>
            <div class="boka-product">
                <img src="~/Content/bilder/Boka/MELLANPAKETTÄLT.jpg" />
                <h6>Tält mellan</h6>
                <p>detta tält är mellan</p>
                <button onclick="moveForw1()"class="btn-success btn-lg">Välj</button>
            </div>
            <div class="boka-product">
                <img src="~/Content/bilder/Boka/STORTPAKETTÄLT.jpg" />
                <h6>Tält stor</h6>
                <p>detta tält är stort</p>
                <button onclick="moveForw1()"class="btn-success btn-lg">Välj</button>
            </div>
        </div>

        <button onclick="moveForw1()" class="btn-lg btn-success">Nästa</button>
        <p></p>
        <h6>Steg 1 av 6</h6>
    </div>

    <div id="steg2" class="tabcontentBoka">
        <h1>Golv</h1>
        <div class="boka-products-container">
            




        </div>
        <button onclick="moveBack1()" class="btn-lg btn-success">Tillbaka</button>
        <button onclick="moveForw2()" class="btn-lg btn-success">Nästa</button>
        <p></p>
        <h6>Steg 2 av 6</h6>
    </div>

    <div id="steg3" class="tabcontentBoka">
        <h1>Ljud</h1>
        <div class="boka-products-container">
            




        </div>
        <button onclick="moveBack2()" class="btn-lg btn-success">Tillbaka</button>
        <button onclick="moveForw3()" class="btn-lg btn-success">Nästa</button>
        <p></p>
        <h6>Steg 3 av 6</h6>
    </div>

    <div id="steg4" class="tabcontentBoka">
        <h1>Ljus</h1>
        <div class="boka-products-container">
          




        </div>
        <button onclick="moveBack3()" class="btn-lg btn-success">Tillbaka</button>
        <button onclick="moveForw4()" class="btn-lg btn-success">Nästa</button>
        <p></p>
        <h6>Steg 4 av 6</h6>
    </div>

    <div id="steg5" class="tabcontentBoka">
        <h1>Tillbehör</h1>
        <div class="boka-products-container">
           





        </div>
        <button onclick="moveBack4()" class="btn-lg btn-success">Tillbaka</button>
        <button onclick="moveForw5()" class="btn-lg btn-success">Nästa</button>
        <p></p>
        <h6>Steg 5 av 6</h6>
    </div>

    <div id="steg6" class="tabcontentBoka">
        <h1>Slutför</h1>
        <div class="boka-products-container">
            



        </div>
        <button onclick="moveBack5()" class="btn-lg btn-success">Tillbaka</button>
        <p></p>
        <h6>Steg 6 av 6</h6>

    </div>
</div>
<script>
    function moveForw1() {
        var elem = document.getElementById("bar-boka");
        var width1 = "33.2%";
        
        elem.style.width = width1;
        
    }
    function moveForw2() {
        var elem = document.getElementById("bar-boka");
        var width1 = "50%";

        elem.style.width = width1;

    }
    function moveForw3() {
        var elem = document.getElementById("bar-boka");
        var width1 = "66.6%";

        elem.style.width = width1;

    }
    function moveForw4() {
        var elem = document.getElementById("bar-boka");
        var width1 = "83.2%";

        elem.style.width = width1;

    }
    function moveForw5() {
        var elem = document.getElementById("bar-boka");
        var width1 = "100%";

        elem.style.width = width1;

    }
    function moveBack1() {
        var elem = document.getElementById("bar-boka");
        var width1 = "16.6%";

        elem.style.width = width1;

    }
    function moveBack2() {
        var elem = document.getElementById("bar-boka");
        var width1 = "33.2%";

        elem.style.width = width1;

    }
    function moveBack3() {
        var elem = document.getElementById("bar-boka");
        var width1 = "50%";

        elem.style.width = width1;

    }
    function moveBack4() {
        var elem = document.getElementById("bar-boka");
        var width1 = "66.6%";

        elem.style.width = width1;

    }
    function moveBack5() {
        var elem = document.getElementById("bar-boka");
        var width1 = "83.2%";

        elem.style.width = width1;

    }
   
    function moveBack() {
        var elem = document.getElementById("progbar");
        var width = 0;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width - '%';
                elem.innerHTML = width * 1 - '%';
            }
        }
    }

    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontentBoka");
        
       

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "";
            if (tabcontent[i] == 1) {
                progbar.style.backgroundColor = "black";
            }
            
        }
       
        tablinks = document.getElementsByClassName("tablinkBoka");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;

    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
