
@{
    ViewBag.Title = "Boka";
}



    <h1 class="indexText">Boka</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#1">Tält</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#2">Golv</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#3">Ljud</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#4">Ljus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#5">Tillbehör</a>
        </li>

    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="1">
            <br />
            <p>Steg 1 av 5</p>

            <button class="btn btn-success btn-lg">Nästa ></button>
        </div>
        <div class="tab-pane fade" id="2">
            <p>Steg 2 av 5</p>
        </div>



    </div>
