@model LarnerhemsEvent.Models.order

@{
    ViewBag.Title = "Klar";
}


<div class="klar-container">


    <div class="klar-title-container">
        <div class="klar-title">
            <h1>Tack för din bokningsförfrågan!</h1>
        </div>
        <div class="rosett-container">
            <img src="~/Content/bilder/Boka/Klar/rosett.png" />
        </div>

    </div>

    <div>
        <h6>Ditt Ordernummer är: </h6><p>@Html.DisplayFor(Model => Model.orderID)</p>
    </div>
    <div>
        <p>All information skickas till dig via e-mail. Har du några övriga frågor är det bara att höra av dig!</p>
    </div>

</div>