@model IEnumerable<LarnerhemsEvent.Models.ViewModels.VMPackOrder>

@{
    ViewBag.Title = "Boka";
}

<br />
<div id="bar-boka" class="btn-bar-boka" style="width:100%"></div>


<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 1.</b><br />Tält</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 2.</b><br />Golv</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 3.</b><br />Ljud</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 4.</b><br />Ljus</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 5.</b><br />Tillbehör</button>
<button class="tablinkBoka" onclick="openPage('steg6', this, 'white')" id="defaultOpen"><b>Steg 6.</b><br />Slutför</button>
<br />

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>


<div class="tabcontent-containerBoka">
    @using (Html.BeginForm())
    {
        @*------------------Steg6 Slutför-------------------------*@

    <div id="steg6" class="tabcontentBoka">
        <h1>Slutför</h1>
        <div class="boka-shoppingcart-container">
            <img src="~/Content/bilder/shopping-cart.png" />
            <h5>Totalsumma</h5>
            <h6 style="color:red;">@TempData["summa"] Kr</h6>
        </div>
        <div class="boka-products-container">
            <div class="boka-Products-slutfor-container">
                <div class="slutfor-valda-produkter-bander">
                    <h2>1. Valda produkter</h2>
                </div>

                @foreach (var item in Model)
                {
                    //if (item.VMPackages.fk_genre_id != 1)
                    //{

<table class="table" style="width:100%;">
  <thead>
      <tr>
          <th scope="col"></th>
          <th scope="col">Antal</th>
          <th scope="col">Namn</th>
          <th scope="col">Pris</th>
          <th scope="col"></th>
      </tr>
  </thead>

  <tbody>
      <tr class="table-light">
          <td><img class="table-slutfor-im"src="~/@Html.DisplayFor(Model => item.VMPackages.img)" /></td>
          <td>@Html.DisplayFor(Model => item.antal)</td>
          <td>@Html.DisplayFor(Model => item.VMPackages.name)</td>
          <td>@Html.DisplayFor(Model => item.VMPackages.price) Kr / st</td>
          <td><button class="btn btn-danger btn-group-lg">Ta Bort</button></td>
      </tr>
  </tbody>
</table> 
                       
                    

                }
                <div class="slutfor-valda-produkter-bander">
                    <h2>2. Person- och leveransuppgifter</h2>
                </div>





            </div>






        </div>

        <br />
        <br />
        <button id="tillbaka" value="true" name="tillbaka" class="btn btn-secondary btn-group-lg" style="float:left;">⇐ Tillbaka</button>

        <p></p>
        <h6>Steg 6 av 6</h6>

    </div>


    }
    </div>
<script src="~/Scripts/BokaScript.js"></script>