
@{
    ViewBag.Title = "Om oss";
}





    <h1 class="indexText">Om oss</h1>
    <div style=" vertical-align:middle; text-align:center;">

        <img src="~/Content/bilder/Alexander2.PNG" style="width:350px; height:350px;" />

    </div>





